<div id="my-posts-container">
  <aside id="my-profile">
    <h1>Profile</h1>
    <p>Name: {{userData.name}}</p>
    <p>Email: {{userData.email}}</p>
  </aside>
  <div id="add-post">
    <a id="icon" href="newpost" class="fas fa-plus-circle"></a>
  </div>
  <section id="my-posts">
    {{#each dashboardData as |titles|}}
      <article data-postid="{{titles.id}}" class="my-post-title">
        <h2>{{titles.title}}</h2>
        <cite>Post on {{format_date titles.updatedAt}}</cite>
      </article>
    {{/each}}
  </section>
</div>

<script>
  const editPost = async (e) => {
    console.log(e.target.dataset.postid)
    document.location.replace('/editpost/'+e.target.dataset.postid)
  }

  const postTitle = document.getElementsByTagName('article');
  for(let i = 0; i < postTitle.length; i++){
    postTitle[i].addEventListener('click',editPost);
  }
  
</script>