{{#each PostData as |post|}}
    <article>
        <div class="post-title">
            <h2>{{post.title}}</h2>
            <time>Posted by: {{post.user.name}} on {{format_date post.updatedAt}}</time>
        </div>
        <section class="post-body">
            {{post.content}}
        </section>
        <hr style="height: 3px; border-width: 0; background-color: rgb(0, 0, 0)" />
        <section class="comment-container">
            <div>
                {{#each post.post_comments as |comment|}}
                    {{> comment-template}}
                {{/each}}
            </div>
            <i class="fas fa-comments"></i>
        </section>
        <form data-postid="{{post.id}}">
            <input class="comment-input" type="text" placeholder="Write a comment..." />
            <input type="submit" class="btn btn-danger" value="Comment"/>
        </form>
    </article>
{{/each}}

<script>
    const forms = document.getElementsByTagName('form');
    const postNewComment = async (e) => {
        e.preventDefault();
        if(e.srcElement[0].value){
            const newPost = {
                content: e.srcElement[0].value,
                post_id: e.target.dataset.postid
            }
            const response = await fetch('/api/comment', {
                method: 'POST',
                body: JSON.stringify(newPost),
                headers: { 'Content-Type': 'application/json' },
            });
            if(response.ok){
                document.location.reload();
            } else {
                alert('Please sign in')
            };
        }
    };
    for(let i = 0; i < forms.length; i++){
        forms[i].addEventListener('submit', postNewComment);
    };
</script>